mathematica_files
literature

# Prerequisites
*.d

# Notebooks that aren't necessary
laplace_eq_domain_1_sin.ipynb
laplace_eq_domain_2_rectangle.ipynb
laplace_eq_domain_3_sin_sin.ipynb

#literature

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*_matrix.txt
*_matrix_elements_for_each_triangle.txt